name: koffan
configs:
  serve.json:
    content: |
      {"TCP":{"443":{"HTTPS":true}},"Web":{"$${TS_CERT_DOMAIN}:443":{"Handlers":{"/":{"Proxy":"http://127.0.0.1:${TAILSCALE_PORT}"}}}},"AllowFunnel":{"$${TS_CERT_DOMAIN}:443":false}}
services:
  koffan:
    image: ghcr.io/pansalut/koffan:${KOFFAN_VERSION}
    restart: unless-stopped
    user: '1000:1000'
    environment:
      APP_ENV: production
      APP_PASSWORD: ${KOFFAN_APP_PASSWORD}
      PORT: 80
      DB_PATH: /data/shopping.db
    volumes:
      - "${KOFFAN_DATA_PATH}:/data"
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:80/login"]
      interval: 30s
      timeout: 3s
      retries: 3
    network_mode: service:tailscale
  tailscale:
    image: tailscale/tailscale:${TAILSCALE_VERSION}
    restart: unless-stopped
    hostname: ${TAILSCALE_HOSTNAME}
    ports:
      - "${KOFFAN_PORT}:80"
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=false
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    configs:
      - source: serve.json
        target: /config/serve.json
    volumes:
      - ${TAILSCALE_STATE_PATH}:/var/lib/tailscale
