PROWLARR_VERSION=release
PROWLARR_CONFIG_PATH=/mnt/data/apps/prowlarr/config
PROWLARR_PUID=568
PROWLARR_PGID=568
PROWLARR_PORT=30070

TAILSCALE_VERSION=latest
TAILSCALE_AUTHKEY=
TAILSCALE_MACHINE_NAME=prowlarr
TAILSCALE_PORT=9696
TAILSCALE_STATE_PATH=/mnt/data/apps/prowlarr/tailscale
