name: qbittorrent
configs:
  serve.json:
    content: |
      {"TCP":{"443":{"HTTPS":true}},"Web":{"$${TS_CERT_DOMAIN}:443":{"Handlers":{"/":{"Proxy":"http://127.0.0.1:${TAILSCALE_PORT}"}}}},"AllowFunnel":{"$${TS_CERT_DOMAIN}:443":false}}
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:${QBITTORRENT_VERSION}
    restart: unless-stopped
    user: "${QBITTORRENT_USER}"
    environment:
      WEBUI_PORT: ${TAILSCALE_PORT}
      TORRENTING_PORT: 6881
      UMASK: "002"
    volumes:
      - ${QBITTORRENT_CONFIG_PATH}:/config
      - ${QBITTORRENT_DOWNLOADS_PATH}:/downloads
    network_mode: service:tailscale
  tailscale:
    image: tailscale/tailscale:${TAILSCALE_VERSION}
    restart: unless-stopped
    hostname: ${TAILSCALE_MACHINE_NAME}
    ports:
      - "${QBITTORRENT_PORT}:${TAILSCALE_PORT}"
      - "6881:6881/udp"
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=false
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    configs:
      - source: serve.json
        target: /config/serve.json
    volumes:
      - ${TAILSCALE_STATE_PATH}:/var/lib/tailscale