@font-face {
    font-family: "Inter";
    src: url("/apps/theming/fonts/inter-var.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/apps/theming/fonts/inter-var.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --font-face:
        "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Oxygen-Sans,
        Cantarell, Ubuntu, "Helvetica Neue", "Noto Sans", "Liberation Sans",
        Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --default-font-size: 13px;
}

body {
    font-family: var(--font-face);
}

[data-login-form-input-rememberme] {
    display: none !important;
}