name: nextcloud
services:
  app:
    image: nextcloud:${NEXTCLOUD_VERSION}
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - NET_BIND_SERVICE
      - NET_RAW
      - SETGID
      - SETUID
    cap_drop:
      - ALL
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      NEXTCLOUD_ADMIN_PASSWORD: ${NEXTCLOUD_ADMIN_PASSWORD}
      NEXTCLOUD_ADMIN_USER: ${NEXTCLOUD_ADMIN_USER}
      NEXTCLOUD_DATA_DIR: /var/www/html/data
      NEXTCLOUD_TRUSTED_DOMAINS: ${NEXTCLOUD_TRUSTED_DOMAINS}
      PHP_MEMORY_LIMIT: ${PHP_MEMORY_LIMIT}
      PHP_UPLOAD_LIMIT: ${PHP_UPLOAD_LIMIT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: postgres:5432
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      REDIS_HOST: redis
      REDIS_HOST_PASSWORD: ${REDIS_PASSWORD}
      REDIS_HOST_PORT: '6379'
      UMASK: '002'
      UMASK_SET: '002'
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - curl
        - '--silent'
        - '--fail'
        - http://127.0.0.1/status.php
      timeout: 5s
    labels:
      - tsdproxy.enable=true
      - tsdproxy.name=nextcloud
      - tsdproxy.ephemeral=true
      - tsdproxy.container_port=80
    ports:
      - '${NEXTCLOUD_PORT}:80'
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    user: '0:0'
    volumes:
      - ./apache2/limitrequestbody.conf:/etc/apache2/conf-enabled/limitrequestbody.conf:ro
      - ./bin/occ:/usr/local/bin/occ:ro
      - ./docker-entrypoint-hooks.d/before-starting/imaginary-url.sh:/docker-entrypoint-hooks.d/before-starting/imaginary-url.sh:ro
      - ./docker-entrypoint-hooks.d/before-starting/update-hosts-script.sh:/docker-entrypoint-hooks.d/before-starting/update-hosts-script.sh:ro
      - ./docker-entrypoint-hooks.d/before-starting/update-trusted-domains-script.sh:/docker-entrypoint-hooks.d/before-starting/update-trusted-domains-script.sh:ro
      - ./php/opcache.ini:/usr/local/etc/php/conf.d/opcache-z-99.ini:ro
      - ./php/php.ini:/usr/local/etc/php/conf.d/nextcloud-z-99.ini:ro
      - ${NEXTCLOUD_APP_PATH}:/var/www/html
      - ${NEXTCLOUD_DATA_PATH}:/var/www/html/data
      - /tmp:/tmp
  imaginary:
    image: ghcr.io/nextcloud-releases/aio-imaginary:${IMAGINARY_VERSION}
    cap_add:
      - SYS_NICE
    cap_drop:
      - ALL
    environment:
      UMASK: '002'
      UMASK_SET: '002'
    group_add:
      - 568
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - wget
        - '--quiet'
        - '--spider'
        - http://127.0.0.1:9000/health
      timeout: 5s
    restart: unless-stopped
    security_opt:
      - no-new-privileges=true
    user: '1000:1000'
  postgres:
    image: postgres:${POSTGRES_VERSION}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - pg_isready
        - '-U'
        - nextcloud
      timeout: 5s
    restart: unless-stopped
    shm_size: 256M
    user: '999:999'
    volumes:
      - ${POSTGRES_DATA_PATH}:/var/lib/postgresql/18/docker
  redis:
    image: valkey/valkey:${REDIS_VERSION}
    command:
      - '--port'
      - '6379'
      - '--requirepass'
      - ${REDIS_PASSWORD}
    healthcheck:
      interval: 30s
      retries: 5
      test:
        - CMD
        - redis-cli
        - '-a'
        - ${REDIS_PASSWORD}
        - ping
      timeout: 5s
    restart: unless-stopped
    user: '1000:1000'
    volumes:
      - redis-data:/data
volumes:
  redis-data: {}