RADARR_VERSION=release
RADARR_CONFIG_PATH=/mnt/data/apps/radarr/config
RADARR_DATA_PATH=/mnt/data/media
RADARR_PUID=568
RADARR_PGID=568
RADARR_PORT=30072

QBITTORRENT_DOWNLOADS_PATH=/mnt/data/media/downloads

TAILSCALE_VERSION=latest
TAILSCALE_AUTHKEY=
TAILSCALE_MACHINE_NAME=radarr
TAILSCALE_PORT=7878
TAILSCALE_STATE_PATH=/mnt/data/apps/radarr/tailscale
