name: jellyfin
configs:
  serve.json:
    content: |
      {"TCP":{"443":{"HTTPS":true}},"Web":{"$${TS_CERT_DOMAIN}:443":{"Handlers":{"/":{"Proxy":"http://127.0.0.1:8096"}}}},"AllowFunnel":{"$${TS_CERT_DOMAIN}:443":false}}
services:
  jellyfin:
    image: jellyfin/jellyfin:${JELLYFIN_VERSION}
    restart: unless-stopped
    user: '1000:1000'
    environment:
      UMASK: '002'
      JELLYFIN_PublishedServerUrl: ${JELLYFIN_PUBLISHED_URL}
    volumes:
      - "${JELLYFIN_CONFIG_PATH}:/config"
      - "${JELLYFIN_CACHE_PATH}:/cache"
      - "${JELLYFIN_FONTS_PATH}:/usr/local/share/fonts/custom:ro"
      - "${JELLYFIN_MEDIA_PATH}:/media"
    network_mode: service:tailscale
  tailscale:
    image: tailscale/tailscale:${TAILSCALE_VERSION}
    restart: unless-stopped
    hostname: ${TAILSCALE_HOSTNAME}
    ports:
      - "${JELLYFIN_PORT}:8096/tcp"
      - "7359:7359/udp"
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=false
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    configs:
      - source: serve.json
        target: /config/serve.json
    volumes:
      - ${TAILSCALE_STATE_PATH}:/var/lib/tailscale
