BAZARR_VERSION=release
BAZARR_CONFIG_PATH=/mnt/data/apps/bazarr/config
BAZARR_DATA_PATH=/mnt/data/media
BAZARR_PUID=568
BAZARR_PGID=568
BAZARR_PORT=30074

TAILSCALE_VERSION=latest
TAILSCALE_AUTHKEY=
TAILSCALE_MACHINE_NAME=bazarr
TAILSCALE_PORT=6767
TAILSCALE_STATE_PATH=/mnt/data/apps/bazarr/tailscale
