LIDARR_VERSION=release
LIDARR_CONFIG_PATH=/mnt/data/apps/lidarr/config
LIDARR_DATA_PATH=/mnt/data/media
LIDARR_PUID=568
LIDARR_PGID=568
LIDARR_PORT=30071

TAILSCALE_VERSION=latest
TAILSCALE_AUTHKEY=
TAILSCALE_MACHINE_NAME=lidarr
TAILSCALE_PORT=8686
TAILSCALE_STATE_PATH=/mnt/data/apps/lidarr/tailscale