name: copyparty
configs:
  serve.json:
    content: |
      {"TCP":{"443":{"HTTPS":true}},"Web":{"$${TS_CERT_DOMAIN}:443":{"Handlers":{"/":{"Proxy":"http://127.0.0.1:${TAILSCALE_PORT}"}}}},"AllowFunnel":{"$${TS_CERT_DOMAIN}:443":false}}
services:
  copyparty:
    image: copyparty/ac:${COPYPARTY_VERSION}
    restart: unless-stopped
    user: "1000:1000"
    volumes:
      - ./:/cfg:z
      - "${COPYPARTY_MEDIA_PATH}:/w:z"
    environment:
      LD_PRELOAD: /usr/lib/libmimalloc-secure.so.NOPE
      PYTHONUNBUFFERED: 1
    stop_grace_period: 15s
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q 127.0.0.1:3923/?reset=/._"]
      interval: 1m
      timeout: 2s
      retries: 5
      start_period: 15s
    network_mode: service:tailscale
  tailscale:
    image: tailscale/tailscale:${TAILSCALE_VERSION}
    restart: unless-stopped
    hostname: ${TAILSCALE_HOSTNAME}
    ports:
      - ${COPYPARTY_PORT}:3923
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY}
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve.json
      - TS_USERSPACE=false
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    configs:
      - source: serve.json
        target: /config/serve.json
    volumes:
      - ${TAILSCALE_STATE_PATH}:/var/lib/tailscale